@keyframes heart_scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

@keyframes sparks_active {
    from {
        --animation-color-sparks: transparent;
    }
    to {
        --animation-color-sparks: #FF0000;
    }
}