/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main), sans-serif;
  font-variation-settings: "wght" var(--font-weight-regular);
  background-image: var(--background-gradient);
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin: 100px auto 0;
  border: var(--border-main);
  inline-size: var(--size-block-width);
  background-color: var(--color-background);
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accent-regular);
}

.header_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 130px 122px;
}

.header_title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-accent-regular);
}

.header_subtitle {
  font-size: var(--font-size-subtitle);
  text-transform: uppercase;
}

main {
  margin-top: 94px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 51px;
}

.card {
  background-color: var(--color-background);
  inline-size: var(--size-block-width);
  border: var(--border-main);
  font-size: var(--font-size-text);
}

.card_title {
  padding: 4px 10px;
  font-variation-settings: "wght" var(--font-weight-main-bold);
  font-size: var(--font-size-text);
}

.card_img_container {
  position: relative;
  overflow: hidden;
}

.card-img {
  object-fit: cover;
  object-position: center;
  display: block;
  width: 100%;
  height: auto;
}

.img_label {
  position: absolute;
  right: 25px;
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 0px 1px 0 #fff;
  text-transform: uppercase;
  color: var(--color-accent);
  font-size: var(--font-size-ui-elements);
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accent-regular);
}

@supports (-webkit-text-stroke: 1px #fff) {
  .img_label {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
  }
}

.card_text {
  display: flex;
  flex-direction: column;
  margin: 25px;
  row-gap: 25px;
  width: clamp(321px, 100%, 646px);
  font-weight: var(--font-weight-main-regular);
  line-height: 117%;
}

.card__button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin: 25px;
  transition: 0.3s ease;
  font-family: var(--font-family-accent), sans-serif;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: none;
  color: red;
  cursor: pointer;
  padding: 0;
  transition: 0.3s ease;
  background-color: var(--color-background);
}

.card__like-button {
  position: relative;
  border: var(--border-main);
  background-color: var(--color-background);
  overflow: hidden;
  cursor: pointer;
  padding: 8px 0;
  max-width: 130px;
  width: 100%;
  transition: 0.3s ease;
}

.button__text {
  color: var(--color-accent);
  font-size: var(--font-size-ui-elements);
  line-height: 90%;
}

.button_floppy {
  display: flex;
  position: relative;
  align-items: center;
  padding: 14px 18px;
  gap: 8px;
  cursor: pointer;
  overflow: hidden;
  border: var(--border-main);
  font-size: var(--font-size-ui-elements);
  font-family: var(--font-family-accent), sans-serif;
  font-weight: var(--font-weight-accent-regular);
  color: var(--color-accent);
  background-color: var(--color-background);
}

.button_floppy-icon {
  width: 21px;
  height: auto;
}

.modal_window {
  padding: 0;
  font-family: var(--font-family-accent), sans-serif;
  font-size: var(--font-size-ui-elements);
  font-weight: var(--font-weight-accent-regular);
  text-transform: uppercase;
  line-height: 150%;
}

.modal_window div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 30px;
}

.modal_icon {
  width: 39px;
  height: 39px;
}

.modal_window p {
  max-width: 234px;
  width: 100%;
}

.button_close {
  position: relative;
  overflow: hidden;
  display: flex;
  margin: 0 auto 30px auto;
  max-width: 293px;
  width: 100%;
  background-color: var(--color-background);
  border: var(--border-main);
  padding: 10px 0;
  text-transform: uppercase;
}

.modal_window::backdrop {
  background-color: rgb(0 0 0 / 0.7);
  backdrop-filter: blur(7px);
}

.button_close_text {
  margin: 0 auto;
}

@media (width <= 375px) {
  .header_block {
    padding: 120px 16px;
  }

  main {
    margin-top: 100px;
    gap: 48px;
  }

  .card_title {
    padding: 5px 10px;
    border-bottom: 2px solid black;
  }

  .card_text {
    margin: 0;
    padding: 25px;
  }

  .card__button {
    margin: 0;
    padding: 0 25px 25px 25px;
  }

  .button_floppy {
    margin: 2px;
    flex-direction: column;
    gap: 11px;
  }

  .modal_window {
    width: 100%;
    max-width: 341px;
  }

  .button_floppy-icon {
    width: 28px;
    height: 28px;
  }

  .modal_window .button_floppy-icon {
    width: 39px;
    height: 39px;
  }

  .modal_window div {
    margin: 30px 36px;
    gap: 20px;
  }

  .modal_window p {
    max-width: 202px;
  }

  .button_close {
    max-width: 261px;
  }
}

/* Animation, Focus, Hover effect */

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: var(--border-main);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
}

.button_floppy:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
}

.button_close:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-accent);
}

.animation_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  mix-blend-mode: difference;
  transition: 0.5s ease-in-out;
}

.animation_button:hover::before {
  left: 0;
}

.contour {
  color: var(--animation-color-contour);
  transition: fill 0.1s linear;
}

.main-body {
  color: var(--animation-color-main-body);
  transition: fill 0.3s linear;
}

.core {
  color: var(--animation-color-core);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  --animation-color-main-body: black;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  --animation-color-core: black;
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  --animation-color-main-body: #ff0000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  --animation-color-core: #ff0000;
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .core {
  --animation-color-core: #ff0000;
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  --animation-color-main-body: #ff0000;
  transition: fill 0.3s linear 0.04s;
}

.like-icon.is-liked .contour {
  --animation-color-contour: #ff0000;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart_scale 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks_active 0.3s ease-in 0.3s 1;
}

/* Filter img */
.filter-saturate-20 {
  filter: saturate(20%);
}

.filter-brightness-2 {
  filter: brightness(2) saturate(128%);
}

.filter-contrast-200 {
  filter: contrast(200%);
}

.filter-invert-80 {
  filter: invert(80%);
}

.filter-sepia-100 {
  filter: sepia(100%);
}

.filter-blur-3 {
  filter: blur(3px);
}

.filter-hue-rotate-180 {
  filter: hue-rotate(180deg);
}
