/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main_font: Inter;
    --accent_font: PressStart2P;
    --accent_weight: 400;
    --accent_color:#000;
    --text_regular: 410;
    --text_bold: 715;
    --gradient_fon: repeating-linear-gradient(to left, #d3d3d3 , transparent 2px),
    repeating-linear-gradient(#d3d3d3 2px, transparent 2px),
    repeating-linear-gradient(#e7e7e7, #1a1a1a);
    --width_block: clamp(375px, 100%, 700px);
    --color_fon: #fff;
    --title_size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --sub_title: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --text_size: 18px;
    --main_border: 2px solid #000;

    --animation-contour-color: #000;
    --animation-main-body-color: transparent;
    --animation-core-color: transparent;
    --animation-sparks-color: transparent;
    

}


 
